@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*********************************************   VARIABLES   ******************************************/

:root {
    --sidebar-width: 15rem;
    --header-height: 3rem;
    --form-search-height: 3.5rem;
    --nav-width: 324px;
    /********************************   FONT WEIGHT ******************************************/
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    /********************************     COLORS    *******************************************/
    --first-color: #172441;
    --first-color-light: #045ab1;
    --second-color: #CC4B2C;
    --second-color-dark: #a12405;

    --text-color: #b8ab9a;
     --text-color-dark: #3d3529;
    --text-color-darken: #837057;
    --background-color-light: #EAE7E6;
    --background-color-lighten: #FFFAFA;
    --background-color-light-blue: #f0f5fc;
    /********************************   FONT-TYPO   ******************************************/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /********************************    MARGENES   ******************************************/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    /********************************    Z-index    ******************************************/
    --z-fixed: 100;
}

@media screen and(min-width: 768px) {
     :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*************************************     RESET HTML     **************************************/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin:0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*********************************************   CLASS CSS   ******************************************/
.sidebar{
    background-color:#2F232A;
    position: fixed;
    left:0;
    width: var(--sidebar-width);
    height: 100vh;
    transition: .5s;
    transition-property: left;
}


.main{
    width: calc(100% - var(--sidebar-width));
    height: 100vh;
    margin-left: var(--sidebar-width);
}

/*********************************************   HEADER  ******************************************/
.header{
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
}

.logo_title{
    font-size: 1.3rem;
    margin-left: .5rem;
}

.logout{
    font-size: 1rem;
    margin-right: 1rem;
}

.logout:hover{
    transition: .8s;
    color: var(--first-color);
}

.logo_title, .logout{
    color: #FFF;
}


/*********************************************   SEARCH FORM   ******************************************/
.form_search_container{
    width: 100%;
    display: flex;
    height: 50px;
}

.form_search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 .5rem 0 .5rem;
    padding: 0 .5rem 0 0 ;
}

.boat_link_container{
    width: 100%;
    height: var(--form-search-height);
    background-color: var(--background-color-lighten);
}

.link_boat_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.icon_link{
    color: var(--text-color-dark);
}

.boat_link{
    font-size: 1rem;
    color: var(--text-color-dark);
    font-weight: 600;
}

.form_search_box input{
    border: none;
    outline: none;
    border-radius: .5rem;
    background-color: var(--background-color-light-blue);
    padding: .5rem;
    width: 250px;
    margin-right: .5rem;
}

.form_search_box input::placeholder{
    font-size: .9rem;
    color: var(--text-color-darken);
    font-weight: 600;
}

.search_button{
    border:none;
    outline: none;
    padding: .5rem;
    color: #FFF;
    background-color: var(--first-color);
    border-radius: .5rem;
    cursor: pointer;
}


/******************   RESULTATS   *********************/

.location_result{
    width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: var(--background-color-light-blue);
}

.location_title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.location_container {
   width: 80%;
   height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--mb-5);
}

.location_item {
    position: relative;
    height: 300px;
    width: calc(100% / 4);
    margin: 1rem;
    text-align: center;
    font-size: var(--h1-font-size);
    box-shadow: 1px 4px 10px rgba(0,0,0,.5);
    background-color: var(--background-color-lighten);
}

.location_img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.location_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.location_price{
    position:absolute;
    border-radius: 50%;
    background-color: var(--first-color);
    top: 3%;
    right: 3%;
    width: 80px;
    height: 80px;
}

.location_price_text{
    color: white;
    font-size: .765rem;
   padding-top: 1.4rem;
   text-align: center;
   transform: rotate(5deg);
}

.description_title{
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
}

.description_content{
    padding: 0;
    font-size: .9rem;
    color: var(--text-color);
    width: 100%;
    text-align: center;
}


.description_link{
    
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--text-color-darken);
    margin: auto;
    padding-top: .578rem;
}

.description_link:hover{
    text-decoration: none;
    color: var(--text-color);
}


.location_container .location_item:hover {
    cursor: pointer;
}

.description_link_action{
    border: none;
    outline: none;
    padding: .5rem;
    font-size: .9rem;
    text-transform: uppercase;
    border-radius: .5rem;
    cursor: pointer;
    color: #FFF;
}

.description_link_action.delete{
    background-color: rgb(235, 49, 49);
}

.description_link_action.update{
    background-color: rgb(0, 167, 83);

}

.description_link_action.delete:hover{
    background-color: rgb(211, 27, 27);
}

.description_link_action.update:hover{
    background-color: rgb(0, 116, 58);

}