@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*********************************************   VARIABLES   ******************************************/

:root {
    --header-height: 3rem;
    --nav-width: 324px;
    /********************************   FONT WEIGHT ******************************************/
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-bold: 600;
    /********************************     COLORS    *******************************************/
    --first-color: #172441;
    --first-color-light: #045ab1;
    --second-color: #CC4B2C;
    --second-color-dark: #a12405;

    --text-color: #b8ab9a;
     --text-color-dark: #3d3529;
    --text-color-darken: #837057;
    --background-color-light: #EAE7E6;
    --background-color-lighten: #FFFAFA;
    --background-color-light-blue: #f0f5fc;
    /********************************   FONT-TYPO   ******************************************/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /********************************    MARGENES   ******************************************/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    /********************************    Z-index    ******************************************/
    --z-fixed: 100;
}

@media screen and(min-width: 768px) {
     :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*************************************     RESET HTML     **************************************/

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*********************************************   CLASS CSS   ******************************************/


.header{
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--background-color-light);

}

/******************   LOCATION CATEGORIES   ****************/

.location_categories {
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background-color: var(--background-color-light-blue);
}

.location_title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: var(--mb-2);
    color: var(--text-color-dark);
}

.location_text{
    width: 60%;
    margin-top: var(--mb-3);
    color: var(--text-color-dark);
    text-align: justify;
    letter-spacing: .1rem;
}

.location_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.location_item {
    height: 350px;
    width: calc(70% / 3);
    text-align: center;
    font-size: var(--h1-font-size);
    box-shadow: 1px 4px 10px rgba(0,0,0,.5);
    margin: 1.6rem 1rem 0 1rem;
    background-color: var(--background-color-lighten);
    transition: .5s;
}

.location_item:hover{
    transform: scale(1.05);
    transition-duration: .5s;
}

.location_img {
    width: 100%;
    height: 55%;
    object-fit: cover;
}

.location_description {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.description_title{
    padding-top: 1rem;
    font-size: 1.2rem;
    margin: 0;
    color: var(--text-color-dark);
}

.description_content{
    padding: 0;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    color: var(--text-color);
}


.description_link{
    padding: .5rem;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
    background-color: var(--first-color);
    margin: 1rem;
    border-radius: 1rem;
    width: 60%;
    align-self: center;
}

.description_link:hover{
    text-decoration: none;
    color: var(--text-color);
}


.location_container .location_item:hover {
    cursor: pointer;
}


.location_download_button {
    width: 25%;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-3);
    background-color: var(--second-color);
    color: var(--background-color-light);
    border-radius: .5rem;
    font-weight: 600;
    padding: 1rem;
    transition: .2s;
    font-size: 1.2rem;
    text-align: center;
}

.location_download_button:hover {
    text-decoration: none;
    color: var(--background-color-light);
    background-color: var(--second-color-dark);
}
/******************   SEPARATION   *********************/

.separation{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, .8);
}

.separation_content{
    color: #FFF;

}

.separation_title{
    font-size: 1.5rem;
}
